body{
    background-size: cover;
}
.heading{
    width: 99%;
    margin: 0;
    font-size: 30px;
}
.note{
    color: black;
    font-size: 25px;
}
.song_name{
    font-size: 33px;
}
canvas{
    background-color: #000000;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px indigo;
}